# Terminal environment
COMPOSE_PROFILES=workspaces

# CLI environment
INVOKE_POSTGRES_PASSWORD=qwerty

# Management environment
INVOKE_MANAGEMENT_SECURITY_DEBUG=1
INVOKE_MANAGEMENT_SECURITY_SECRET_KEY=
INVOKE_MANAGEMENT_DATABASE_NAME=management
INVOKE_MANAGEMENT_DATABASE_USER=management
INVOKE_MANAGEMENT_DATABASE_PASSWORD=qwerty
